{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block header %}


{% if user %}
<a href="{{url_for('index')}}">ログアウト</a>

<h1>ようこそ {{user.name}} さん</h1>
<form action="{{ url_for('index', user_id=user.id)}}" method="POST">
    <h3>課題検索</h3>
    <p>コース名<input type="text" name="course" label="course"></p>
    <p>課題名<input type="text" name="assignment" label="assignment"></p>
    <p>情報<input type="text" name="info" label="info"></p>
    <p>
        <label for="state">ステータス(選ばれた値以上のステータスの課題を表示します)</label>
        <select name="state" id="state" label="state">
            <option value="0">end</option>
            <option value="1" selected>normal</option>
            <option value="2">semi</option>
            <option value="3">hot</option>
        </select>
    </p>
    <p><input type="submit" value="送信"></p>
    <p><input type="reset" value="取消する"></p>
</form>

<form action="{{ url_for('add', user_id=user.id)}}" method="POST">
    <h3>課題取得</h3>
    <p>取得キーワード<input type="text" name="keywords" label="keywords"></p>
    <p><input type="submit" value="送信"></p>
    <p><input type="reset" value="取消する"></p>
</form>
<a href="{{ url_for('user', user_id=user.id)}}">moodleの番号やパスワードを変更する</a>

{% else %}
<h1>ようこそ ゲスト さん</h1>

<form action="{{ url_for('login')}}" method="GET">
    <h3>ログイン</h3>
    <p>ユーザー名を入れてください<input type="text" name="name" label="name"></p>
    <p><input type="submit" value="送信"></p>
</form>

<form action="{{ url_for('index')}}" method="POST">
    <h3>課題検索</h3>
    <p>コース名<input type="text" name="course" label="course"></p>
    <p>課題名<input type="text" name="assignment" label="assignment"></p>
    <p>情報<input type="text" name="info" label="info"></p>
    <p>
        <label for="state">ステータス</label>
        <select name="state" id="state" label="state">
            <option value="0">end</option>
            <option value="1" selected>normal</option>
            <option value="2">semi</option>
            <option value="3">hot</option>
        </select>
    </p>
    <p><input type="submit" value="送信"></p>
    <p><input type="reset" value="取消する"></p>
</form>

<form action="{{ url_for('add')}}" method="POST">
    <h3>課題取得</h3>
    <p>取得キーワード<input type="text" name="keywords" label="keywords"></p>
    <p><input type="submit" value="送信"></p>
    <p><input type="reset" value="取消する"></p>
</form>
<a href="{{ url_for('user')}}">新規ユーザー作成</a>

{% endif %}

{% endblock %}

{% block content %}
<h2>課題！！</h2>
<table>
    <tr>
        <th>コース名</th> <th>課題名</th> <th>情報</th> <th>ステータス</th> 
    </tr>

    {% for data in datas %}

    {%if user %}

    <tr>
        <td>{{data[1].title}}</td>
        <td><a href="{{data[0].url}}">{{data[0].title}}</a></td>
        <td>{{data[0].info}}</td>
        <td>
            <ul>
            {% for key, state_name in status.items() %}
                <li>
                {% if data[2].state != key %}
                    <a href="{{ url_for('change', id=data[2].id, state=key, user_id=user.id) }}">ステータスを{{state_name}} にする</a>
                </li>
                {% else %}
                    <p> 現在のステータス：{{state_name}}</p>
                {% endif %}

            {% endfor %}
            </ul>
        </td>
    </tr>

    {% else %}

    <tr>
        <td>{{data[1].title}}</td>
        <td><a href="{{data[0].url}}">{{data[0].title}}</a></td>
        <td>{{data[0].info}}</td>
        <td>
            <ul>
            {% for key, state_name in status.items() %}
                <li>
                {% if data[0].state != key %}
                    <a href="{{ url_for('change', id=data[0].id, state=key) }}">ステータスを{{state_name}} にする</a>
                </li>
                {% else %}
                    <p> 現在のステータス：{{state_name}}</p>
                {% endif %}

            {% endfor %}
            </ul>
        </td>
    </tr>

    {% endif %}

    {% endfor %}
</table>

{% endblock %}