<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#watchlog").on("click",function(){
                $.ajax({
                    type: 'GET',
                    url: '/log', //問い合わせ先
                }).done(function(res){
                    $('#result').html(res)
                }).fail(function(){
                    $('#result').html("log something worng...")
                })
            })
        })
        
    </script>
</head>
<body>
    <div class="body_content">
        <div class="body_content_inner">
            <header>{% block header %}{% endblock %}</header>
            <div class="content">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
